<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.system" coreApp="true" package="com.android.server.telecom" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-G928TUVS2COKC">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.BIND_CONNECTION_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_INCALL_SERVICE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_CALLLOG_INFO"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.mirrorlink.android.service.ACCESS_PERMISSION"/>
    <uses-permission android:name="com.cequint.ecid.CALLER_ID_LOOKUP"/>
    <uses-permission android:name="com.sec.android.app.voicenote.Controller"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.permission.AT_COMMAND"/>
    <uses-permission android:name="com.samsung.commonimsinterface.PERMISSION"/>
    <uses-permission android:name="com.sec.android.permission.VOIP_INTERFACE"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.samsung.tmowfc.wfcprovider.permission.READ_WFCPROVIDER"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="com.samsung.android.permission.SSRM_NOTIFICATION_PERMISSION"/>
    <uses-permission android:name="com.samsung.android.permisson.START_DOCK_OR_HOME"/>
    <uses-permission android:name="com.samsung.android.incallui.edge.QUICK_REPLY_NOTIFICATION"/>
    <permission android:label="Broadcast the call type/duration information" android:name="android.permission.BROADCAST_CALLLOG_INFO" android:protectionLevel="system|signature"/>
    <permission android:label="Register to handle the broadcasted call type/duration information" android:name="android.permission.PROCESS_CALLLOG_INFO" android:protectionLevel="system|signature"/>
    <permission android:name="com.sec.android.phone.permission.AT_COMMAND" android:protectionLevel="signatureOrSystem"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher_phone" android:label="@string/telecommAppLabel" android:process="system" android:supportsRtl="true">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="CallActivity" android:permission="android.permission.CALL_PHONE" android:theme="@style/Theme.SecTelecomm.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher_sip_call">
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.phone.videocall"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
        <service android:name="SPenService" android:process="system">
            <intent-filter>
                <action android:name="com.samsung.server.telecom.SPEN_SERVICE"/>
            </intent-filter>
        </service>
        <activity-alias android:name="PrivilegedCallActivity" android:permission="android.permission.CALL_PRIVILEGED" android:targetActivity="CallActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher_sip_call" android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="EmergencyCallActivity" android:permission="android.permission.CALL_PRIVILEGED" android:targetActivity="CallActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher_sip_call" android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity-alias>
        <receiver android:exported="false" android:name="TelecomBroadcastReceiver" android:process="system">
            <intent-filter>
                <action android:name="com.android.server.telecom.ACTION_CALL_BACK_FROM_NOTIFICATION"/>
                <action android:name="com.android.server.telecom.ACTION_CALL_BACK_FROM_NOTIFICATION"/>
                <action android:name="com.android.server.telecom.ACTION_SEND_SMS_FROM_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <receiver android:name="PhoneAccountBroadcastReceiver" android:process="system">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/respond_via_sms_setting_title" android:name=".RespondViaSmsSettings$Settings" android:theme="@style/Theme.Telecom.DialerSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize|uiMode" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".ErrorDialogActivity" android:theme="@style/Theme.Telecomm.Transparent"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize|uiMode" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".operator.chn.SpamCallReportDialogActivity" android:theme="@style/Theme.Telecomm.Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".operator.usa.TelecomDialogActivity" android:theme="@style/Theme.Telecomm.Transparent"/>
        <receiver android:exported="true" android:name=".CallReceiver" android:permission="android.permission.MODIFY_PHONE_STATE" android:process="system"/>
        <receiver android:exported="false" android:name=".secutils.MinuteMinder" android:process="system">
            <intent-filter android:priority="100">
                <action android:name="com.samsung.server.telecom.MINUTE_MINDER_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".secutils.TeleBroadcastReceiver" android:process="system">
            <intent-filter>
                <action android:name="com.samsung.intent.action.WB_AMR"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.server.telecom.action.NOTIFY_MISSED_CALL"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.phone.ACTION_RAD_SELECT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.intent.action.EMERGENCY_STATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.launcher.action.EASY_MODE_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.flipfolder.OPEN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.android.mirrorlink.ML_STATE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".operator.usa.ExtensionBroadcastReceiver" android:process="system">
            <intent-filter>
                <action android:name="android.intent.action.HDVOICE_CALL"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WB_AMR"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".operator.usa.ATCommandReceiver" android:permission="com.sec.android.phone.permission.AT_COMMAND" android:process="system">
            <intent-filter>
                <action android:name="com.samsung.intent.action.CUSTOMER_TEST_REQUEST"/>
            </intent-filter>
        </receiver>
        <service android:name=".operator.usa.ClearAutoRejectedCallsService" android:process="system"/>
        <service android:name="BluetoothPhoneService" android:process="system" android:singleUser="true">
            <intent-filter>
                <action android:name="android.bluetooth.IBluetoothHeadsetPhone"/>
            </intent-filter>
        </service>
        <service android:name=".TelecomService" android:process="system" android:singleUser="true">
            <intent-filter>
                <android android:name="com.android.ITelecomService"/>
            </intent-filter>
        </service>
        <service android:name="BluetoothVoIPService" android:process="system" android:singleUser="true">
            <intent-filter>
                <action android:name="com.samsung.bt.hfp.IBluetoothHeadsetVoIP"/>
            </intent-filter>
        </service>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|uiMode" android:excludeFromRecents="true" android:exported="false" android:name=".operator.kor.RoamingAutoDialOption" android:theme="@style/Theme.Telecomm.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize|uiMode" android:excludeFromRecents="true" android:exported="false" android:name=".operator.kor.RoamingIntCallDialog" android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".secutils.DriveLinkDialogActivity" android:theme="@style/DriveLinkDialogTheme"/>
        <service android:exported="false" android:name="AutoCSPService" android:process="system">
            <intent-filter>
                <action android:name="com.samsung.server.telecom.IAutoCSP"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".CarrierMatchDialogActivity" android:noHistory="true" android:theme="@style/Theme.Telecomm.Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name=".operator.jpn.SecJpnTelecomDialogActivity" android:noHistory="true" android:theme="@style/AlertPopupTranslucentNoTitle"/>
        <service android:exported="false" android:name=".operator.jpn.NextiCallSMSService" android:process="system"/>
        <receiver android:name=".MovialImsRegReceiver" android:process="system">
            <intent-filter>
                <action android:name="com.movial.IMS_REGISTRATION"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="touchwiz"/>
        <uses-library android:name="commonimsinterface" android:required="false"/>
        <uses-library android:name="TmoWfcUtils" android:required="false"/>
        <uses-library android:name="secmediarecorder" android:required="false"/>
    </application>
</manifest>
